body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}
table{
margin: auto;
}
table, th, td{
  border: 2px solid green;
  text-align: center;
  background: black;
  padding: 10px;
  border-collapse: collapse;
}
th{
  font-size: 18px;
}
.planet {
    width: 90px;
    padding: 0px;
}
#heading {
    font-size: 22px;
    margin: auto;
}
#footing {
    font-size: 16px;
    margin: auto;
}